# TODO: Add version numbers to all libraries to prevent deprecation issues
torch==2.0.0+cu117 -f https://download.pytorch.org/whl/torch_stable.html
pillow
diffusers
ftfy
transformers
opencv-python 
tqdm
numpy
pyyaml
accelerate
xformers
tensorboard
av
kornia
